/**************************
    $$ Nav Module
**************************/

// Create all manner of horizontal lists of links
// build upon this base module by adding modifier classes such as .stacked
// modifier classes should be placed in the _global.scss partial

.nav {
    margin:0;
    padding:0;
    list-style:none;
    @extend .group; // self clearfix

    li { float:left; }
    a { display:inline-block; }
}

//*************************
//  	$$ Overlay
//**************************

.overlay {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;

	background:#fff url('../img/indicator.gif') center 350px no-repeat;
	opacity:0.2;
}

/**************************
    $$ Clearfix
**************************/

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

/**************************
    $$ Helpers
**************************/

.is-active { color:$color-active; }

.is-hidden { display:none; }
.is-visible { display:block; }
.is-visually-hidden {
    position:absolute;
    top:-99999px;
    left:-99999px;
}
.screen-reader-text { text-indent:-9999px; }
