/**************************
	$$ Results
**************************/

.destinations {
	margin:0;
	padding:0;
	list-style:none;
	
	& > li > a {
		display:block;
		padding:0.5em;

		@include font(1.25em, 1.5em);
		@include text-shadow(0px 1px 0px #666);
		
		border-bottom:1px solid #fff;
		@include background(linear-gradient($color-brand, darken($color-brand, 25%)));

		&.is-active { 
			color:#eee; 
			@include text-shadow(0px 1px 0px #000);
		}
	}

	.entry-content {
		padding:0.75em 0.5em 0.5em 0.75em;
		background:darken($color-brand, 25%);

		ul { 
			margin:0;
			padding:0;
			list-style:none; 
		}
		li {
			margin:0 0 0.75em;
			font-size:0.875em;
		}
	}

}