/**************************
	$$ Search
**************************/

.search {
	width:95%;
	margin:0 auto $global-vertical-rhythm;
}
.nav-search {
	margin:0 0 0.5em;
	font-size:0.75em;

	li:before { 
		content:" | "; 
		margin:0 0 0 0.3em;
		color:#999;
	}
	li:first-child:before { 
		content:""; 
		margin:0;
	}

	a { color:#999; }
	.is-active { color:$color-brand; }

}

.search-form {
	margin:0 0 $global-vertical-rhythm;

	.input-container {
		position:relative;
		display:block;
	}
	[type=search] {
		width:100%;
		height:2em;
		line-height:2em;
		margin:0;

		border:1px solid $color-border;
		border-radius:0;
		-webkit-appearance:none;

		&:focus { outline: none; }
	}
	label { 
		position:absolute;
		top:0.5em;
		left:0.5em;
		color:$color-label;
	}
	@include placeholder {
		padding:0.05em 0 0 3.5em;
		color:#ccc;
		font-style:italic;
	}
}

.nav-alphabetical {

	width:100%;
	margin:0 auto $global-vertical-rhythm;
	text-align:center;

	a { 
		display:inline-block;
		margin:0.55em 0.55em 0.35em;
		padding-bottom:0.2em; // add space for underline on active
		
		color:#666;
		text-transform:uppercase;
	}
	.is-active { 
		color:$color-brand; 
		border-bottom:1px solid $color-brand;
	}


}