/**************************
	$$ Variables
**************************/

/**************************
	$$ Colours
**************************/

$color-brand:#9a6bac; // purple
$color-background:#f2f2f2; // lightest grey

$color-link:#000;
$color-link-visited:#000;
$color-hover:#999;

$color-heading:#1b1e31; // midnight blue
$color-sub-heading:#999; // mid grey
$color-copy:#eeeeee; // lighter grey
$color-label:#666; // dark grey
$color-disabled:#ccc; // light grey
$color-menu:#999;
$color-search-highlight:#eee;
$color-active:$color-brand;

$color-border:#ccc;
$color-form:#fff;


/**************************
	$$ Fonts
**************************/

$font-brand:'Gill Sans','Helvetica','Arial',serif;
$font-copy:'Helvetica','Arial',sans-serif;


/**************************
	$$ List Style Types
**************************/
$ul: disc;
$ol: decimal;


/**************************
	$$ Global Baselines
**************************/

$global-vertical-rhythm:1.5em;
$global-padding:0.5em;

/**************************
	$$ Mixins
**************************/

@mixin font($font-size, $line-height:1em) {
	font-size:$font-size;
	line-height:$line-height;
}

@mixin placeholder {
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
}
