/**************************
	$$ Variables
**************************/

/**************************
	$$ Colours
**************************/

$color-brand:#000;

$color-link:#000;
$color-link-visited:#000;
$color-hover:#999;

$color-heading:#000;
$color-copy:#666;

$color-border:#ccc;
$color-form:#fff;


/**************************
	$$ Fonts
**************************/

$font-brand:'Georgia','Times New Roman',serif;
$font-copy:'Helvetica','Arial',sans-serif;


/**************************
	$$ List Style Types
**************************/
$ul: disc;
$ol: decimal;


/**************************
	$$ Global Baselines
**************************/

$global-vertical-rhythm:1.5em;
$global-padding:1.5em;
